// Place all the styles related to the Titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

input[type=submit] {
  float: right;
  padding: 8px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #FF0057;
}

h3 {
  color: #66757F;
}

p {
  margin: 0;
}

#top-nav {
  position: fixed;
  background: black;
  height: 150px;
  width: 100%;
  min-width: 768px;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  z-index: 2;
}

#brand {
  text-align: center;
  line-height: 50px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: white;
  display: inline-block;
}

#search {
  position: relative;
  // height: 24px;
  bottom: 10px;
  // right: -100px;
  // // width: 200px;
  border-radius: 24px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 36px;
  font-size: 14px;
  outline: none;
}

#button{
  position: relative;
  height: 30px;
  bottom: 8px;
  right: 30px;
  width: 30px;
  border-radius: 24px;
  background-color: #f2f2f2;
  padding-right: 36px;
  font-size: 14px;
  outline: none;
  font-weight: bold;
}

.fa-search {
  position: absolute;
  top: 15px;
  right: 24px;
}

.container {
  position: relative;
  margin: 70px auto;
  width: 768px;
  padding: 100px 20px 20px 20px;
  background-color: white;
  min-height: 900px;
}

#tweet-box {
  position: absolute;
  height: 160px;
  width: 232px;
  max-width: 232px;
  text-align: center;
  background: #00A5D5;
  padding: 6px;
  border-radius: 6px
}

.tweet {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.tweet-content {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  max-width: 410px;
}


.full-name {
  font-weight: bold;
  margin-right: 4px;
}

.username,
.timestamp {
  color: #B1BEC8;
}

.title{
  text-align: right;
}

.movie-info p {
  line-height: 1.25em;
}

.result-img {
  height: 100px;
  width: 75px;
}
